{% extends "layout.html.twig" %}
{% block content %}
<h1>{{ category_title|default('Packages')}} ({{ total_packages }})</h1>
{% if category_title %}
<ul class="breadcrumb">
    <li><a href="/packages">Top level</a> <span class="divider">/</span></li>
    <li class="active">{{ category_title|default('Packages')}}</li>
</ul>
{% endif %}
{% if not category_title %}
<div class='row packagesList'>
    {% for category in categories %}
    <div class='span4'>
        <h3><a href='/packages/{{ category.name|url_encode }}'>{{ category.name }} <span class="label">{{ category.npackages }}</span></a></h3>
        <p>
        {% for sub_category in category_subcategory[category.name] %}
            <a href="/packages/{{ sub_category.name|url_encode }}"><strong>{{ sub_category.name}} ({{ sub_category.npackages}})</strong></a>&#160;
        {% endfor %}
        {% for i in 0..10 %}
            {% if category_package[category.name][i] %}
            <a href="/package/{{ category_package[category.name][i].name|url_encode}}">{{ category_package[category.name][i].name}}</a>&#160;
            {% endif %}
        {% endfor %}
        {% if category_package[category.name]|length > 10 %}...{% endif %}
        </p>
    </div>
    {% if (loop.index % 4 == 0) and not loop.last %}
</div>
<div class='row packagesList'>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<table class='zebra-striped'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Summary</th>
            <th>Status</th>
            <th>Version</th>
            <th>Release date</th>
        </tr>
    </thead>
    <tbody>
    {% for pkg in category_package %}
    <tr>
        <td><a href='/package/{{ pkg.name|url_encode }}'><strong>{{ pkg.name }}</strong></a></td>
        <td>{{ pkg.summary}}</td>
{% if pkg.releasedate %}
        <td>{{ pkg.status}}</td>
        <td>{{ pkg.version}}</td>
        <td>{{ pkg.releasedate }}</td>
{% else %}
        <td colspan='3'><em>no release available</em></td>
{% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}